*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# Apple # 
.DS_Store

# Intellij #
.idea
*.iml
*.log

# logback
logback.out.xml

backend/src/main/resources/public/
backend/target
frontend/dist/
frontend/node/
frontend/node_modules/
frontend/npm-debug.log
frontend/target
frontend/test-output
frontend/tests/e2e/reports
frontend/tests/unit/coverage
frontend/yarn-error.log
frontend/yarn.lock
security/target/
selenium-debug.log

.mvn
!.mvn/wrapper/maven-wrapper.jar


/target/

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
bin/
.mvn

*.tmp
*.bak

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
#.scala_dependencies
#.worksheet